* {
    box-sizing: border-box;
  }

 

#centered{
    text-align: center;
    color: red;
    height: auto;
}

header img{
    max-width : 150px;
    
    
}

#logo{
    float:right;
    width: 20%;
    height: 150px;
}

header nav {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr ; 
    grid-template-rows: 1fr ;
}

header nav ul {
    grid-column: 1 / 3;
    grid-row: 1 / 2;  
    color: white;
    font-weight: bold;
    font-family: "Sofia", sans-serif;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

#news{
    font-weight: bold;
    color: blue;
    font-style: italic;
   
}

#sports{
    font-weight: bold;
    color: green;
    font-style: italic;
}

#picturelink{
    font-weight: bold;
    color: red;
    font-style: italic;
    text-decoration: underline;
}

footer{
    background-color: red;
    color: white;
    text-align: center;
    height: 100px;
    padding: 10px;
}




