body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eaeaea;
}

.calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as necessary */
}

.calculator-display {
    grid-column: 1 / -1; /* Span all columns */
    height: 40px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    font-size: 1.5em; /* Adjust the font size as necessary */
}

.button-container {
    display: contents;
}

.button {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /* Adjust the font size as necessary */
}

.equal {
    grid-column: span 4; /* Span all columns */
    background-color: #9FE2BF; /* Color for the equal button */
}

.history-container {
    grid-column: 1 / -1; /* Span all columns */
    background-color: #f9f9f9;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 100px;
    padding: 5px;
}

#history {
    list-style: none;
    padding: 0;
    margin: 0;
}

#clearHistory {
    background-color: #F08080; /* Color for the clear history button */
    margin-top: 10px;
    
}
