<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="./css/mainpage.css">
    
    <script src="./js/mainpage.js" type="module"></script>
    
</head>
<body>
    <div class="k">
        <span id="header"> Home Page</span>
        <a href="#" id="logout">Log Out</a>
        
    </div>
      
    
    <div class="container">
       
        <!-- div that will contain the current user which will be fetched 
        from the api . log out link to log out  -->
        <div id="user-info">
            <h3>Welcome, <span id="current-user"></span></h3>
        
    </div>
    
</body>
</html>